body {
  background: #f7f4ed;
}

.text-title {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}
.text-title > img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 11px;
}
.text-title p {
  display: inline-block;
  margin-left: 16px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

header {
  height: 37px;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 130;
}
header .link {
  color: gray;
  width: 284px;
  float: left;
}
header .link li {
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 37px;
}
header .link li span {
  color: red;
}
header .user-link {
  color: #878787;
  float: right;
  position: relative;
}
header .user-link .li-1:hover {
  background-color: white;
  border-bottom: none;
}
header .user-link .li-1:hover .pop, header .user-link .li-1:hover .user-pop {
  display: block;
}
header .user-link .li-3:hover .img-pop {
  display: flex;
}
header .user-link li {
  height: 100%;
  width: 66px;
  float: left;
  font-size: 12px;
  color: #323232;
  margin-right: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
}
header .pop, header .user-pop {
  background: #fff;
  display: none;
  position: absolute;
  top: 36px;
  width: 66px;
  z-index: 130;
  border-top: none;
  left: 0;
}
header .pop li, header .user-pop li {
  height: 36ppx;
  line-height: 36px;
  float: none;
  font-size: 100%;
  font-weight: 400;
}
header .user-pop {
  left: 172px;
}
header .img-pop {
  display: none;
  justify-content: space-around;
  margin-left: -300px;
  padding: 15px;
  width: 350px;
  position: absolute;
  background: white;
}
header .img-pop .left, header .img-pop .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .img-pop .left img, header .img-pop .right img {
  height: 145px;
  margin-bottom: 4px;
  width: 145px;
}
header .img-pop .left .btn-1, header .img-pop .right .btn-1, header .img-pop .right .btn-2 {
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 5px;
}
header .img-pop .right .btn-2 {
  background-color: blue;
}

.search {
  background: #FFFEFF;
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 101;
  transition: top 0.3s ease-out 0s;
}
.search .container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.search .container .center {
  position: relative;
  width: 600px;
}
.search .container .center input {
  border: 2px solid #E4393C;
  color: #b3b3b3;
  font-size: 14px;
  height: 20px;
  padding: 8px 8px 8px 35px;
  width: 435px;
  outline: 0;
}
.search .container .center img {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 16px;
}
.search .container .center button {
  background: #e43c3f;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 118px;
  position: absolute;
}
.search .container .right {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 116px;
  height: 40px;
  background: #fff;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  line-height: 40px;
  cursor: pointer;
}
.search .container .right > b {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 22px;
  background: url(https://static.winxuancdn.com/cms/assets/images/winxuanhome/index/right-pop-shopping-icon.png) 0 0/100%;
  margin-left: 12px;
}
.search .container .right .shopping {
  font-size: 12px;
  color: #666;
  margin-left: 27px;
  cursor: pointer;
}

nav {
  background: #FFFEFF;
  height: 40px;
  min-width: 1210px;
}
nav span {
  height: 40px;
  background: #D52C27;
  color: #fff;
  display: block;
  font-family: "Microsoft Yahei";
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  width: 208px;
  line-height: 40px;
  float: left;
}
nav span > img {
  width: 20px;
  height: 28px;
  vertical-align: middle;
  margin-right: 12px;
  margin-left: 7px;
  margin-top: -3px;
}
nav ul {
  float: left;
  width: 904px;
}
nav ul li {
  float: left;
  background: #FFFEFF;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-left: 20px;
}
nav ul .red {
  color: red;
}

.banner {
  height: 480px;
  width: 1518px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.banner .container {
  height: 100%;
}
.banner .img-wrap {
  width: 1200%;
  height: 100%;
  position: absolute;
  text-align: center;
}
.banner .img-wrap img {
  width: 8.33333%;
  height: 100%;
  float: left;
}
.banner .mainmeum {
  width: 208px;
  position: absolute;
  left: 0;
  z-index: 100;
  min-height: 480px;
  font-family: "Microsoft Yahei";
  background: rgba(255, 253, 252, 0.6);
  top: 0;
}
.banner .mainmeum .solid {
  width: 2px;
  background: #FEFCFD;
  z-index: 10;
  position: absolute;
  right: -1px;
  top: 0;
  display: none;
}
.banner .mainmeum dl:hover {
  border: 2px solid #E4393C;
  border-right: none;
}
.banner .mainmeum dl:hover .pop-box {
  display: block;
}
.banner .mainmeum .last-meum {
  border: none !important;
}
.banner .mainmeum dl {
  zoom: 1;
  margin: auto 0;
  padding: 5px 6px;
  border: 2px solid rgba(255, 253, 252, 0);
}
.banner .mainmeum dl dt {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-size: 14px;
  color: #323232;
  font-weight: 600;
}
.banner .mainmeum dl dd {
  height: 20px;
  line-height: 20px;
  float: left;
  font-size: 12px;
}
.banner .mainmeum dl .pop-box {
  width: 834px;
  height: 450px;
  padding: 13px 32px;
  position: absolute;
  left: 207px;
  top: 0;
  border: 2px solid #E4393C;
  z-index: 9;
  background: #FEFCFD;
  font-size: 13px;
  display: none;
  transition: width 0.6s linear 0.6s;
}
.banner .mainmeum dl .pop-box li {
  float: left;
  padding: 13px 0;
}
.banner .mainmeum dl .pop-box li .left-title {
  display: inline-block;
  width: 116px;
}
.banner .mainmeum dl .pop-box .right-content {
  display: inline-block;
  width: 678px;
  margin-left: 23px;
  border-bottom: 1px dashed #DAD8D9;
  color: #000;
}
.banner .mainmeum dl .pop-box .right-content a {
  margin-bottom: 2px;
  display: inline-block;
  color: gray;
}

.recommended .title {
  position: relative;
  width: 140px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}
.recommended .title > img {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.recommended .moudle-tab {
  position: relative;
}
.recommended .moudle-tab .tab {
  box-sizing: border-box;
  position: absolute;
  background: 0 0;
  width: 1000px;
  left: 200px;
  height: 60px;
  top: -60px;
}
.recommended .moudle-tab .tab .tab-item {
  float: left;
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  justify-content: center;
  font-size: 15px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommended .moudle-tab .tab .active {
  color: #D52C27;
  font-weight: 600;
}
.recommended .moudle-tab .tab-content {
  display: none;
}
.recommended .moudle-tab .tab-content .keywords {
  padding: 20px 0;
  font-size: 13px;
  border-top: 1px solid #e2e2e2;
}
.recommended .moudle-tab .tab-content .keywords a:hover {
  color: #D52C27;
  text-decoration: underline;
  cursor: pointer;
}
.recommended .moudle-tab .tab-content .keywords a {
  display: inline-block;
  padding: 0 15px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  line-height: 14px;
  border-right: 1px solid #e8e8e8;
  text-decoration: none;
  color: #666;
}
.recommended .moudle-tab .tab-content .tab-imgwrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img:hover {
  border: 1px solid red;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img {
  width: 230px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid transparent;
  padding: 24px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img img {
  width: 146px;
  height: 146px;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img a {
  text-decoration: none;
  color: #666;
  text-align: center;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img .author {
  margin-bottom: 26px;
  height: 16px;
  line-height: 16px;
  color: #999;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img .price .price-n {
  font-size: 14px;
  font-weight: 700;
  color: #E4393C;
}
.recommended .moudle-tab .tab-content .tab-imgwrap .tab-img .price .price-o {
  float: right;
  font-size: 12px;
  color: #888;
  text-decoration: line-through;
}
.recommended .moudle-tab > .show {
  display: block;
}

.hotbook .bt-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.hotbook .bt-row .bt-col:hover {
  border: 1px solid red;
}
.hotbook .bt-row .bt-col {
  width: 230px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid transparent;
  padding: 24px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}
.hotbook .bt-row .bt-col img {
  width: 146px;
  height: 146px;
}
.hotbook .bt-row .bt-col a {
  text-decoration: none;
  color: #666;
  text-align: center;
}
.hotbook .bt-row .bt-col .author {
  margin-bottom: 26px;
  height: 16px;
  line-height: 16px;
  color: #999;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hotbook .bt-row .bt-col .price .price-n {
  font-size: 14px;
  font-weight: 700;
  color: #E4393C;
}
.hotbook .bt-row .bt-col .price .price-o {
  float: right;
  font-size: 12px;
  color: #888;
  text-decoration: line-through;
}

.press .press-tab {
  background-color: white;
}
.press .press-tab > .tab {
  box-sizing: border-box;
  background: #fff;
  position: relative;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #eee;
  height: 60px;
}
.press .press-tab > .tab .line {
  width: 136px;
  top: 57px;
  height: 2px;
  background: #E4393C;
  z-index: 2;
  position: absolute;
  left: 0;
}
.press .press-tab > .tab a {
  display: inline-block;
  width: 136px;
  color: inherit;
  font-weight: 700;
  color: #D52C27;
  text-align: center;
  line-height: 60px;
}
.press .press-tab .item-box {
  display: flex;
  justify-content: start;
}
.press .press-tab .item-box .press-item:hover {
  cursor: pointer;
}
.press .press-tab .item-box .press-item:hover .a-box {
  opacity: 1;
}
.press .press-tab .item-box .press-item {
  width: 200px;
  height: 116px;
  padding-top: 12px;
  border-left: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  margin-left: -1px;
  margin-bottom: -1px;
}
.press .press-tab .item-box .press-item .img {
  width: 180px;
  height: 90px;
  margin: 0 auto;
}
.press .press-tab .item-box .press-item .img img {
  width: 100%;
  height: 100%;
}
.press .press-tab .item-box .press-item .a-box {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(-22px);
  opacity: 0;
  transition: 1s ease all;
}
.press .press-tab .item-box .press-item .a-box a {
  font-size: 14px;
  color: #fff;
}

.main-sever {
  color: #666;
  font-size: 12px;
  height: 190px;
}
.main-sever .sever-list {
  overflow: hidden;
  padding: 28px 8px 25px;
  display: flex;
  justify-content: space-between;
}
.main-sever .sever-list .main-service-list {
  margin-right: 38px;
  width: 140px;
}
.main-sever .sever-list .main-service-list > dt {
  border-bottom: 1px solid #c9c9c9;
  color: #666;
  font-family: "Microsoft Yahei";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 6px;
  position: relative;
  text-align: center;
}
.main-sever .sever-list .main-service-list dd {
  font-size: 13px;
  line-height: 20px;
  padding-left: 20px;
}

.content {
  padding-bottom: 25px;
}
.content .top {
  text-align: center;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
}
.content .top > div {
  height: 55px;
  flex: 1;
  align-items: center;
  color: #444;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 600;
  position: relative;
}
.content .top > div i {
  position: absolute;
  left: 60px;
  font-size: 50px;
  color: #D52C27;
}
.content .top > div .icon-feiji_qifei {
  left: 35px;
}
.content .top > div .text {
  display: inline-block;
  border-left: 1px solid #E6E6E6;
  padding-left: 16px;
  margin-left: 40px;
  color: #444;
  line-height: 26px;
}
.content .top .iconfont {
  background-size: 100%;
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: bottom;
}
.content .bottom {
  color: #666;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}
.content .bottom .info {
  font-size: 14px;
  margin-bottom: 20px;
}
.content .bottom a {
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #D52C27 !important;
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
