header {
  height: 37px;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 130;
}
header .link {
  color: gray;
  width: 284px;
  float: left;
}
header .link li {
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 37px;
}
header .link li span {
  color: red;
}
header .user-link {
  color: #878787;
  float: right;
  position: relative;
}
header .user-link .li-1:hover {
  background-color: white;
  border-bottom: none;
}
header .user-link .li-1:hover .pop, header .user-link .li-1:hover .user-pop {
  display: block;
}
header .user-link .li-3:hover .img-pop {
  display: flex;
}
header .user-link li {
  height: 100%;
  width: 66px;
  float: left;
  font-size: 12px;
  color: #323232;
  margin-right: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
}
header .pop, header .user-pop {
  background: #fff;
  display: none;
  position: absolute;
  top: 36px;
  width: 66px;
  z-index: 130;
  border-top: none;
  left: 0;
}
header .pop li, header .user-pop li {
  height: 36ppx;
  line-height: 36px;
  float: none;
  font-size: 100%;
  font-weight: 400;
}
header .user-pop {
  left: 172px;
}
header .img-pop {
  display: none;
  justify-content: space-around;
  margin-left: -300px;
  padding: 15px;
  width: 350px;
  position: absolute;
  background: white;
}
header .img-pop .left, header .img-pop .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .img-pop .left img, header .img-pop .right img {
  height: 145px;
  margin-bottom: 4px;
  width: 145px;
}
header .img-pop .left .btn-1, header .img-pop .right .btn-1, header .img-pop .right .btn-2 {
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 5px;
}
header .img-pop .right .btn-2 {
  background-color: blue;
}

.search {
  background: #FFFEFF;
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 101;
  transition: top 0.3s ease-out 0s;
}
.search .container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.search .container .center {
  position: relative;
  width: 600px;
}
.search .container .center input {
  border: 2px solid #E4393C;
  color: #b3b3b3;
  font-size: 14px;
  height: 20px;
  padding: 8px 8px 8px 35px;
  width: 435px;
  outline: 0;
}
.search .container .center img {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 16px;
}
.search .container .center button {
  background: #e43c3f;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 118px;
  position: absolute;
}
.search .container .right {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 116px;
  height: 40px;
  background: #fff;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  line-height: 40px;
  cursor: pointer;
}
.search .container .right > b {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 22px;
  background: url(https://static.winxuancdn.com/cms/assets/images/winxuanhome/index/right-pop-shopping-icon.png) 0 0/100%;
  margin-left: 12px;
}
.search .container .right .shopping {
  font-size: 12px;
  color: #666;
  margin-left: 27px;
  cursor: pointer;
}

a:hover {
  color: #D52C27 !important;
  text-decoration: underline;
  cursor: pointer;
}

main .tip {
  height: 201;
  background-color: white;
  margin-bottom: 50px;
}
main .tip div {
  font-size: 12px;
  line-height: 50px;
  height: 50px;
  display: flex;
  padding-left: 20px;
  border: 1px solid #EAEAEA;
}
main .tip div p {
  width: 120px;
}
main .tip div a {
  display: block;
  width: 20px;
  height: 22px;
  background-color: black;
  margin-top: 14px;
}
main .tip div .showSel {
  width: 120px;
  height: 20px;
  margin: auto 0;
}
main .tip div .orderType_two {
  margin-left: 30px;
  border: 1px dashed #999;
}
main .tip div .resetGrade {
  width: 50px;
  height: 20px;
  margin: auto 0;
}
main .group-ul {
  width: 100%;
  zoom: 1;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .group-ul li {
  height: 375px !important;
}
main .group-ul li a {
  text-decoration: none;
  color: #666;
  text-align: center;
}
main .group-ul li .cell:hover {
  border: 1px solid red;
}
main .group-ul li .cell {
  zoom: 1;
  position: relative;
  width: 220px;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}
main .group-ul li .cell .img {
  text-align: center;
  width: 210px;
  height: 210px;
  margin-top: 5px;
  margin-bottom: 6px;
}
main .group-ul li .cell .img img {
  width: 200px;
  height: 200px;
}
main .group-ul li .cell .price {
  zoom: 1;
  margin: 0 10px 6px;
  line-height: 24px;
  overflow: hidden;
}
main .group-ul li .cell .price .price-n {
  color: #db2a41;
  font-size: 20px;
  font-family: Microsoft Yahei;
  float: left;
  vertical-align: middle;
}
main .group-ul li .cell .price .price-o {
  font-size: 12px;
  color: #b5b2b3;
  margin-left: 11px;
  text-decoration: line-through;
  vertical-align: middle;
}
main .group-ul li .cell .name {
  height: auto;
  line-height: 20px;
  margin: 0 10px 4px;
  overflow: hidden;
}
main .group-ul li .cell .name a {
  font-size: 13px;
  color: #333;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
main .group-ul li .cell ._author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 10px 4px;
  width: auto;
  color: #005ea7;
  text-align: left;
  font-size: 12px;
}
main .group-ul li .cell .publisher {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #999;
  margin: 0 10px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .page {
  margin: 0 auto;
  width: 120px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  position: relative;
  z-index: 100;
  top: -80px;
}
main .page p {
  display: inline-block;
}
main .page span {
  cursor: pointer;
}

.main-sever {
  color: #666;
  font-size: 12px;
  height: 190px;
}
.main-sever .sever-list {
  overflow: hidden;
  padding: 28px 8px 25px;
  display: flex;
  justify-content: space-between;
}
.main-sever .sever-list .main-service-list {
  margin-right: 38px;
  width: 140px;
}
.main-sever .sever-list .main-service-list > dt {
  border-bottom: 1px solid #c9c9c9;
  color: #666;
  font-family: "Microsoft Yahei";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 6px;
  position: relative;
  text-align: center;
}
.main-sever .sever-list .main-service-list dd {
  font-size: 13px;
  line-height: 20px;
  padding-left: 20px;
}

.content {
  padding-bottom: 25px;
}
.content .top {
  text-align: center;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
}
.content .top > div {
  height: 55px;
  flex: 1;
  align-items: center;
  color: #444;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 600;
  position: relative;
}
.content .top > div i {
  position: absolute;
  left: 60px;
  font-size: 50px;
  color: #D52C27;
}
.content .top > div .icon-feiji_qifei {
  left: 35px;
}
.content .top > div .text {
  display: inline-block;
  border-left: 1px solid #E6E6E6;
  padding-left: 16px;
  margin-left: 40px;
  color: #444;
  line-height: 26px;
}
.content .top .iconfont {
  background-size: 100%;
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: bottom;
}
.content .bottom {
  color: #666;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}
.content .bottom .info {
  font-size: 14px;
  margin-bottom: 20px;
}
.content .bottom a {
  text-decoration: none;
  text-align: center;
}

/*# sourceMappingURL=list.css.map */
