header {
    height: 37px;
    background-color: #f7f7f7;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 130;


    .link {
        color: gray;
        width: 284px;
        float: left;

        li {
            height: 100%;
            float: left;
            font-size: 12px;
            line-height: 37px;

            span {
                color: red;
            }
        }
    }

    .user-link {
        color: #878787;
        float: right;
        position: relative;

        .li-1:hover {
            background-color: white;
            // border: 1px solid #eee;
            // box-shadow: 0 -1px 2px 1px gray;
            border-bottom: none;
        }

        .li-1:hover .pop {
            display: block;
        }

        .li-3:hover .img-pop {
            display: flex;
        }

        li {
            height: 100%;
            width: 66px;
            float: left;
            font-size: 12px;
            color: #323232;
            margin-right: 20px;
            line-height: 36px;
            text-align: center;
            display: block;
        }
    }

    .pop {
        background: #fff;
        display: none;
        position: absolute;
        top: 36px;
        width: 66px;
        z-index: 130;
        // padding: 10px;
        // border: 1px solid #eee;
        // box-shadow: 0 2px 2px 1px gray;
        // text-align: left;
        border-top: none;


        left: 0;

        li {
            height: 36ppx;
            line-height: 36px;
            float: none;
            font-size: 100%;
            font-weight: 400;
        }
    }

    .user-pop {
        @extend.pop;
        left: 172px;
        // height: 60px;
    }

    .img-pop {
        display: none;
        justify-content: space-around;
        margin-left: -300px;
        padding: 15px;
        width: 350px;
        position: absolute;
        background: white;

        .left {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            img {
                height: 145px;
                margin-bottom: 4px;
                width: 145px;
            }

            .btn-1 {
                text-align: center;
                background-color: red;
                color: white;
                border-radius: 5px;
            }
        }

        .right {
            @extend.left;

            .btn-2 {
                @extend.btn-1;
                background-color: blue;
            }
        }
    }
}

.search {
    background: #FFFEFF;
    position: sticky;
    top: 30px;
    left: 0;
    z-index: 101;
    transition: top .3s ease-out 0s;


    .container {
        display: flex;
        justify-content: space-between;
        padding: 30px;

        .center {
            position: relative;
            width: 600px;

            input {
                border: 2px solid #E4393C;
                color: #b3b3b3;
                font-size: 14px;
                height: 20px;
                padding: 8px 8px 8px 35px;
                width: 435px;
                outline: 0;
            }

            img {
                position: absolute;
                top: 12px;
                left: 13px;
                width: 16px;
            }

            button {
                background: #e43c3f;
                border: 0;
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                font-weight: 700;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 118px;
                position: absolute;
                // right:0;
            }
        }

        .right {
            position: relative;
            text-align: center;
            z-index: 2;
            width: 116px;
            height: 40px;
            background: #fff;
            border: 1px solid rgba(221, 221, 221, 1);
            border-radius: 4px;
            line-height: 40px;
            cursor: pointer;

            >b {
                height: 21px;
                left: 8px;
                position: absolute;
                top: 10px;
                width: 22px;
                background: url(https://static.winxuancdn.com/cms/assets/images/winxuanhome/index/right-pop-shopping-icon.png) 0 0/100%;
                margin-left: 12px;
            }

            .shopping {
                font-size: 12px;
                color: #666;
                margin-left: 27px;
                cursor: pointer;
            }
        }
    }
}

a:hover {
    color: #D52C27 !important;
    text-decoration: underline;
    cursor: pointer;
}

main {
    .tip {
        height: 201;
        background-color: white;
        margin-bottom: 50px;

        div {
            font-size: 12px;
            line-height: 50px;
            height: 50px;
            display: flex;
            padding-left: 20px;
            border: 1px solid #EAEAEA;

            p {
                width: 120px;

            }


            a {
                display: block;
                width: 20px;
                height: 22px;
                background-color: black;
                margin-top: 14px;
            }

            .showSel {
                width: 120px;
                height: 20px;
                margin: auto 0;
            }

            .orderType_two {
                margin-left: 30px;
                border: 1px dashed #999;
            }

            .resetGrade {
                width: 50px;
                height: 20px;
                margin: auto 0;
            }
        }

    }


    .group-ul {
        width: 100%;
        zoom: 1;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;



        li {
            height: 375px !important;

            a {
                text-decoration: none;
                color: #666;
                text-align: center;
            }

            .cell:hover {
                border: 1px solid red;
            }

            .cell {
                zoom: 1;
                position: relative;
                width: 220px;
                background: #fff;
                border: 1px solid #eee;
                overflow: hidden;

                .img {
                    text-align: center;
                    width: 210px;
                    height: 210px;
                    margin-top: 5px;
                    margin-bottom: 6px;

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }

                .price {
                    zoom: 1;
                    margin: 0 10px 6px;
                    line-height: 24px;
                    overflow: hidden;

                    .price-n {
                        color: #db2a41;
                        font-size: 20px;
                        font-family: Microsoft Yahei;
                        float: left;
                        vertical-align: middle;
                    }

                    .price-o {
                        font-size: 12px;
                        color: #b5b2b3;
                        margin-left: 11px;
                        text-decoration: line-through;
                        vertical-align: middle;
                    }
                }

                .name {
                    height: auto;
                    line-height: 20px;
                    margin: 0 10px 4px;
                    overflow: hidden;

                    a {
                        font-size: 13px;
                        color: #333;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: block;
                        width: 100%;
                    }
                }

                ._author {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    margin: 0 10px 4px;
                    width: auto;
                    color: #005ea7;
                    text-align: left;
                    font-size: 12px;
                }

                .publisher {
                    font-size: 12px;
                    font-weight: 400;
                    text-decoration: none;
                    color: #999;
                    margin: 0 10px 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

        }
    }

    .page {
        margin: 0 auto;
        width: 120px;
        cursor: pointer;
        text-align: center;
        user-select: none;
        position: relative;
        z-index: 100;
        top: -80px;
        p {
            display: inline-block;
        }

        span {
            cursor: pointer;
        }
    }


}

.main-sever {
    color: #666;
    font-size: 12px;
    height: 190px;

    .sever-list {
        overflow: hidden;
        padding: 28px 8px 25px;
        display: flex;
        justify-content: space-between;

        .main-service-list {
            margin-right: 38px;
            width: 140px;

            >dt {
                border-bottom: 1px solid #c9c9c9;
                color: #666;
                font-family: "Microsoft Yahei";
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 6px;
                position: relative;
                text-align: center;
            }

            dd {
                font-size: 13px;
                line-height: 20px;
                padding-left: 20px;
            }
        }
    }
}

.content {
    padding-bottom: 25px;

    .top {
        text-align: center;
        height: 110px;
        display: flex;
        justify-content: space-evenly;

        >div {
            height: 55px;
            flex: 1;
            align-items: center;
            color: #444;
            font-size: 20px;
            margin-top: 25px;
            font-weight: 600;
            position: relative;

            i {
                position: absolute;
                left: 60px;
                font-size: 50px;
                color: #D52C27;
            }

            .icon-feiji_qifei {
                left: 35px;
            }

            .text {
                display: inline-block;
                border-left: 1px solid #E6E6E6;
                padding-left: 16px;
                margin-left: 40px;
                color: #444;
                line-height: 26px;
            }
        }

        .iconfont {
            background-size: 100%;
            width: 56px;
            height: 56px;
            display: inline-block;
            border-radius: 50%;
            vertical-align: bottom;
            // color: transparent;
        }
    }

    .bottom {
        color: #666;
        font-size: 13px;
        line-height: 25px;
        text-align: center;

        .info {
            font-size: 14px;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            text-align: center;
        }
    }
}