.login {
    width: 100%;
    height: 592px;
    background: #f74660;
    margin-bottom: 8px;
}

.container {
    background-image: url(../images/login_bg.png);
    height: 100%;
}

.login_box {
    width: 366px;
    padding: 24px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    right: 68px;
    top: 37px;

    .tabs {
        span {
            font-size: 16px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #000;
            line-height: 28px;
            opacity: .65;
            margin-right: 24px;
            padding-bottom: 10px;
        }

        .active {
            border-bottom: 3px solid #e4393c;
            font-family: Source Han Sans CN;
            font-weight: 600;
            color: #000;
            opacity: 1;
        }
    }

    .form_wrapper {
        margin-top: 36px;

        .account_tab {
            display: none;

            .account {
                width: 100%;
                height: 42px;
                border: 1px solid #e6e6e6;
                border-radius: 2px;
                margin-bottom: 20px;
                position: relative;

                .icon-box {
                    width: 42px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    line-height: 42px;
                    border-right: 1px solid #e6e6e6;
                    background: #fafafa;
                    float: left;
                }

                input {
                    width: 273px;
                    height: 40px;
                    outline: none;
                    border: none;
                    padding-left: 8px;
                    color: #000;
                    vertical-align: middle;
                    float: left;
                }
            }

            .password {
                @extend.account;
            }
        }

        .mobile_tab {
            position: relative;
            display: none;

            .mobile {
                width: 100%;
                height: 42px;
                border: 1px solid #e6e6e6;
                border-radius: 2px;
                margin-bottom: 20px;
                position: relative;

                .icon-box {
                    width: 42px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    line-height: 42px;
                    border-right: 1px solid #e6e6e6;
                    background: #fafafa;
                    float: left;
                }

                input {
                    width: 273px;
                    height: 40px;
                    outline: none;
                    border: none;
                    padding-left: 8px;
                    color: #000;
                    vertical-align: middle;
                    float: left;
                }
            }

            .mobile_code {
                @extend.mobile;

                .showPassword {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    cursor: pointer;
                }
            }
        }

        .show {
            display: block;
        }
    }

    .remember_pwd {
        width: 100%;
        height: 20px;
        color: #666;
        overflow: hidden;
        margin-bottom: 22px;
        font-size: 12px;

        label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        a {
            float: right;
            color: #666;
            text-align: center;
            padding-left: 5px;
        }
    }

    .login_btn {
        width: 100%;
        height: 42px;
        background: #e4393c;
        border-radius: 2px;
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #fff;
        border: none;
    }

    .reg_link {
        font-size: 14px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #1d66b2;
        opacity: .85;
        text-align: right;
        display: block;
        margin-top: 18px;
        margin-bottom: 30px;
    }

}
.iconfont{
    color: #b5b7bf;
    font-size: 20px !important;
}
